<!-- src/app/core/footer/footer.component.html -->
<footer class="footer">
  <div class="footer-container">
    <div class="footer-brand">
      <h4>Gestion des Suggestions</h4>
      
    </div>

    <div class="footer-links">
      <h5>Liens utiles</h5>
      <ul>
        <li><a routerLink="/home">Accueil</a></li>
        <li><a routerLink="/suggestions">Suggestions</a></li>
      </ul>
    </div>

    <div class="footer-dev">
      <h5>Développé par</h5>
      <p>❤️ Votre Nom</p>
    </div>
  </div>
</footer>